<div class="example-container mat-elevation-z8">
    <app-sidenav></app-sidenav>
    <table mat-table
           #table
           [dataSource]="dataSource$| async">

        <ng-container matColumnDef="name">
            <th mat-header-cell
                *matHeaderCellDef> Name </th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.name}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell
                *matHeaderCellDef> Company </th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.company}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell
                *matHeaderCellDef> Age </th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.age}} </td>
        </ng-container>

        <ng-container matColumnDef="birthday">
            <th mat-header-cell
                *matHeaderCellDef> Birthday</th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.birthday}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
            <th mat-header-cell
                *matHeaderCellDef> Favorite Color</th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.favoriteColor}} </td>
        </ng-container>

        <ng-container matColumnDef="project">
            <th mat-header-cell
                *matHeaderCellDef> Project</th>
            <td mat-cell
                *matCellDef="let employee"> {{employee.project}} </td>
        </ng-container>
        <ng-container matColumnDef="buttonEdit">
            <th mat-header-cell
                *matHeaderCellDef></th>
            <td mat-cell
                *matCellDef="let employee"> <button mat-raised-button
                        type="submit"
                        color="primary"
                        [routerLink]="['/employe']"
                        routerLinkActive="router-link-active">Editar</button></td>
        </ng-container>
        <ng-container matColumnDef="buttonRemove">
            <th mat-header-cell
                *matHeaderCellDef></th>
            <td mat-cell
                *matCellDef="let employee">
                <button mat-raised-button
                        type="submit"
                        color="primary"
                        (click)="remove(employee)">Eliminar</button></td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div>
        <button mat-raised-button
                type="submit"
                color="primary"
                routerLinkActive="router-link-active">Nuevo</button>
    </div>
</div>