<div class="group">
    <form class="example-form"
          [formGroup]="formGroup"
          (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
            <input matInput
                   type="text"
                   placeholder="User"
                   formControlName="user">
            <mat-error *ngIf="validateInput('user')">
                User is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput
                   type="password"
                   placeholder="Password"
                   formControlName="password">
            <mat-error *ngIf="validateInput('password')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button
                type="submit"
                color="primary"
                (click)="login()"
                routerLinkActive="router-link-active">Login</button>
        <p>{{errorMsg}}
            <p>
    </form>

    <div>
        User: admin
    </div>
    <div>
        Password: 1234
    </div>
</div>