<div class="group">
    <form class="example-form"
          [formGroup]="formGroup"
          (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
            <input matInput
                   type="text"
                   placeholder="User"
                   formControlName="user">
            <!-- <mat-error *ngIf="emailFormControl.hasError('user') && !emailFormControl.hasError('required')">
                Please enter a valid user
            </mat-error> -->
            <!-- <mat-error *ngIf="userFormControl.hasError('required')">
                User is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput
                   type="password"
                   placeholder="Password"
                   formControlName="password">
            <!-- <mat-error *ngIf="emailFormControl.hasError('password') && !emailFormControl.hasError('required')">
                Please enter a password
            </mat-error> -->
            <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <button mat-raised-button
                type="submit"
                color="primary"
                [routerLink]="['/home']"
                routerLinkActive="router-link-active">Login</button>
        <p>{{errorMsg}}
            <p>
    </form>
</div>