<div>
    <app-sidenav></app-sidenav>
    <mat-card class="example-card">
        <mat-card-content [routerLink]="['/employees']"
                          routerLinkActive="router-link-active">
            <div mat-card-avatar
                 class="card-image-one"></div>
            <mat-card-title>Employees</mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-content [routerLink]="['/projects']"
                          routerLinkActive="router-link-active">
            <div mat-card-avatar
                 class="card-image-two"></div>
            <mat-card-title>Projects</mat-card-title>
        </mat-card-content>
    </mat-card>
</div>